<div class="activities">
    <ul>
      <li>
        <div class="activities__content">
          <h3>Malik Alik</h3>
          <p>done the task</p>
        </div>
        <div class="activities__photo"><img src="http://i.pravatar.cc/40" alt=""></div>
      </li>
      <li>
        <div class="activities__content">
          <h3>Mufasa Johnson</h3>
          <p>done the task</p>
        </div>
        <div class="activities__photo"><img src="http://i.pravatar.cc/40" alt=""></div>
      </li>
      <li>
        <div class="activities__content">
          <h3>Mufasa Johnson</h3>
          <p>done the task</p>
        </div>
        <div class="activities__photo"><img src="http://i.pravatar.cc/40" alt=""></div>
      </li>
    </ul>
  </div>