<div class="activities-hub">
  <h1>Activities</h1>
  <ul>
    <li class="activity">
      <div class="activity__description">
        <div class="activity__photo">
          <img src="http://i.pravatar.cc/40" alt="">
        </div>
        <h3>Szymon Konopka</h3>
        <p>has done something</p>
      </div>
    </li>
    <li class="activity">
      <div class="activity__description">
        <div class="activity__photo">
          <img src="http://i.pravatar.cc/40" alt="">
        </div>
        <h3>Szymon Konopka</h3>
        <p>added new link do project dependencies</p>
      </div>
    </li>
    <li class="activity">
        <div class="activity__description">
          <div class="activity__photo">
            <img src="http://i.pravatar.cc/40" alt="">
          </div>
          <h3>Szymon Konopka</h3>
          <p>has done something</p>
        </div>
      </li>
      <li class="activity">
        <div class="activity__description">
          <div class="activity__photo">
            <img src="http://i.pravatar.cc/40" alt="">
          </div>
          <h3>Szymon Konopka</h3>
          <p>added new link do project dependencies</p>
        </div>
      </li>
      <li class="activity">
          <div class="activity__description">
            <div class="activity__photo">
              <img src="http://i.pravatar.cc/40" alt="">
            </div>
            <h3>Szymon Konopka</h3>
            <p>has done something</p>
          </div>
        </li>
        <li class="activity">
          <div class="activity__description">
            <div class="activity__photo">
              <img src="http://i.pravatar.cc/40" alt="">
            </div>
            <h3>Szymon Konopka</h3>
            <p>added new link do project dependencies</p>
          </div>
        </li>
  </ul>
</div>