h1
    padding: 12px 36px

.tasks-list
    ul
        list-style-type: none
        li
            padding: 12px 36px
            font-size: 14px

.task
    &:before
        clear: both
        float: none

.task__points
    float: left
    height: 100%
    h3
    border: 5px solid #00C853
    border-radius: 50%
    width: 40px
    height: 40px
    text-align: center
    line-height: 30px
    

.task__content
    padding-left: 70px
