<div class="tasks-list component">
  <h1>{{ project.Name }}</h1>
  <ul>
    <div *ngFor="let task of project.ActiveTasks; let i = index;">
    <li class="task" *ngIf="i < 3">
        <div class="task__points">
          <h3>{{ task.ProductivityPoints }}<span>pp</span></h3>
          <div class="task__checkbox">
            <i class="fas fa-check"></i>
          </div>
        </div>
        <div class="task__content">
          <h3>{{ task.Name }}</h3>
        </div>
    </li>
    </div>
    <div class="task__more">
      <h3>View more</h3>
    </div>
  </ul>
</div>
