<ul class="projects">
  <li class="project component project_adder">
    <h1>Add project...</h1>
    <i class="fas fa-plus"></i>
  </li>
  <li class="project component project_searcher">
      <h1>Search for new project...</h1>
      <i class="fas fa-plus"></i>
  </li>
  <li class="project component">
    <h1>Project #1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam molestie velit vel vehicula. Duis in vestibulum sem. Nullam bibendum condimentum tincidunt. Fusce vitae sodales tellus.</p>
  </li>
  <li class="project component">
      <h1>Project #1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam molestie velit vel vehicula. Duis in vestibulum sem. Nullam bibendum condimentum tincidunt. Fusce vitae sodales tellus.</p>
    </li>
    <li class="project component">
        <h1>Project #1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam molestie velit vel vehicula. Duis in vestibulum sem. Nullam bibendum condimentum tincidunt. Fusce vitae sodales tellus.</p>
      </li>
</ul>