<ul class="projects">
  <li class="project component project_adder">
    <div class="project__description">
      <h1>Add project...</h1>
    </div>
  </li>
  <li *ngFor="let project of this.projectService.projects" class="project component">
    <a [routerLink]="['/projects/', project.Slug]" preserveQueryParams [queryParams]="{ project: project }"></a>
    <div class="project__description">
      <h1>{{ project.Name }}</h1>
      <p>{{ project.ActiveTasks.length }} tasks</p>
    </div>
  </li>
</ul>