<h1>Current sprint</h1>
<div class="timeline">
    <div class="timeline__axis component">
        <div class="timeline__labels">
            <div class="timeline__start">12 Mar, 2018</div>
            <div class="timeline__end">19 Mar, 2018</div>
        </div>
        <div class="timeline__line">
            <div class="timeline__point"></div>
        </div>
    </div>
    <div class="timeline__description component">
        <h3>Prepare something</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ipsum ante, in mattis felis rhoncus at. In suscipit eu mauris quis dignissim. Donec non dignissim sem. 
        </p>
    </div>
</div>
