<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__photo sidebar__photo_oval">
      <img src="http://i.pravatar.cc/75" alt="">
    </div>
    <div class="sidebar__label">
      <strong>Szymon Konopka</strong>
    </div>
  </div>
  <ul class="sidebar__options">
    <li (click)="switchContainer(0)" class="sidebar__option sidebar__option_active"><i class="fas fa-th-large"></i> Summary</li>
    <li (click)="switchContainer(1)"class="sidebar__option"><i class="fas fa-sticky-note"></i> Projects</li>
    <li (click)="switchContainer(2)"class="sidebar__option"><i class="fas fa-chart-pie"></i> Statistics</li>
    <li (click)="switchContainer(3)"class="sidebar__option"><i class="far fa-window-minimize"></i> Sprints</li>
  </ul>
</div>