.sidebar
    padding: 25px
    position: fixed
    float: left
    background: white
    height: 100%
    overflow: hidden
    width: 230px
    -webkit-box-shadow: 3px 0px 36px -12px rgba(0,0,0,0.18)
    -moz-box-shadow: 3px 0px 36px -12px rgba(0,0,0,0.18)
    box-shadow: 3px 0px 36px -12px rgba(0,0,0,0.18)
    z-index: 999
    background: #252635
    color: white

.sidebar__options
    position: relative
    list-style-type: none
    padding: 24px
    li
        padding: 12px
        font-weight: 700
        cursor: pointer
        svg
            margin-right: 8px

.sidebar__header
    position: relative
    text-align: center
    margin-bottom: 12px
    border-bottom: 1px solid #6c8795

.sidebar__photo
    position: relative
    width: 75px
    height: 75px
    overflow: hidden
    left: 50%
    transform: translate(-50%, 0)

.sidebar__photo_oval
    border-radius: 50%

.sidebar__label
    margin-top: 24px
    margin-bottom: 12px

.sidebar__option
    position: relative

.sidebar__option_active
    a
        color: #486ffa
    &:after, &:before
        content: ''
        position: absolute
    &:before
        content: ''
        position: absolute
        width: 4px
        height: 100%
        right: -49px
        top: 0
        background: #00C853
    &:after
        width: 300%
        height: 100%
        background: #00C853
        left: -100%
        top: 0
        z-index: -1
        opacity: 0.1
    