<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__photo sidebar__photo_oval">
      <img src="http://i.pravatar.cc/75" alt="">
    </div>
    <div class="sidebar__label">
      <strong>Szymon Konopka</strong>
    </div>
  </div>
  <ul class="sidebar__options">
    <li class="sidebar__option sidebar__option_active"><a href="">Summary</a></li>
    <li class="sidebar__option"><a href="">Projects</a></li>
    <li class="sidebar__option"><a href="">Statistics</a></li>
    <li class="sidebar__option"><a href="">Sprints</a></li>
  </ul>
</div>