<div class="statistics">
    <div class="container__header1"><h1>Your account statistics: </h1></div>
    <div class="project component project_adder">
            <div class="statistics__productivity2"></div>
            <div class="project__text1"><h1>Your Name : </h1></div>
            <div class="project__text2"><h1>Your Surname : </h1></div>
            <div class="project__text3"><h1>Your E-mail : </h1></div>
            <div class="project__text4"><h1>Bio : </h1></div>
            <div class="project__details1"><input style="font-size:25px;"type="project__details1" placeholder="Your Name" size="21" maxlength="21"></div>
            <div class="project__details2"><input style="font-size:25px;"type="project__details2" placeholder="Your Surname" size="29" maxlength="29"></div>
            <div class="project__details3"><input style="font-size:25px;"type="project__details3" placeholder="Your E-mail" size="354" maxlength="34"></div>
            <div class="project__details4"><textarea class="input" rows="9" maxlength="300" cols="31ads" style="font-size:25px;" >Change information about you</textarea>Max 300 chareters</div>
    </div>                                      
</div>