<div class="statistics">
    <div class="container__header1"><h1>Your account statistics: </h1></div>
    <div class="project component project_adder">
            <div class="statistics__productivity">
                    <svg viewBox="0 0 64 64" class="chart-pie">
                                <circle class="pie2" r="25%" cx="50%" cy="50%"> </circle>
                                <circle r="40%" cx="50%" cy="50%" class="inner"></circle>
                    </svg>
                    <h3>874/1033 </h3>
            </div>
            <div class="project__text"><h1>Points recived </h1></div>
    </div>
    <div class="project component project_adder">
            <div class="statistics__productivity">
                    <svg viewBox="0 0 64 64" class="chart-pie">
                                <circle class="pie" r="25%" cx="50%" cy="50%"> </circle>
                                <circle r="40%" cx="50%" cy="50%" class="inner"></circle>
                    </svg>
                    <h3>50.0% </h3>
            </div>
            <div class="project__text"><h1>Projects finished </h1></div>
    </div>
    <div class="project component project_adder">
            <div class="statistics__productivity">
                    <svg viewBox="0 0 64 64" class="chart-pie">
                                <circle class="pie3" r="25%" cx="50%" cy="50%"> </circle>
                                <circle r="40%" cx="50%" cy="50%" class="inner"></circle>
                    </svg>
                    <h3>23 </h3>
            </div>
            <div class="project__text"><h1>Tasks refused </h1></div>
    </div>
    <div class="project component project_adder">
            <div class="statistics__productivity">
                    <svg viewBox="0 0 64 64" class="chart-pie">
                                <circle class="pie4" r="25%" cx="50%" cy="50%"> </circle>
                                <circle r="40%" cx="50%" cy="50%" class="inner"></circle>
                    </svg>
                    <h3>55/100 </h3>
            </div>
            <div class="project__text"><h1>Most productive project </h1></div>
    </div>
</div>

